<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="UploadPhotosSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:51507/Webservice/UploadPhotos.asmx"
                binding="basicHttpBinding" bindingConfiguration="UploadPhotosSoap"
                contract="ServiceReference1.UploadPhotosSoap" name="UploadPhotosSoap" />
        </client>
    </system.serviceModel>
</configuration>