<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
    <customErrors mode="Off" />
    <trust level="Full"/>
  </system.web>

  <connectionStrings>
    
    <add connectionString="server=50.62.209.6;user id=photosharing;password=iCl4v93?;database=photosharing" name="photoConnectionString"/>
    <!--<add connectionString="server=localhost;user id=root;password=skateordie1;persist security info=True;database=photoSharing" name="photoConnectionString"/>-->
  </connectionStrings>
  <appSettings>
    <add key="PhotoPath" value="http://photosharing.balusoft.net"/>
    <!--<add key="PhotoPath" value="http://192.168.0.10/PhotoSharing"/>-->
    <!--<add key="PhotoPath" value="http://localhost:51507/"/>-->
  </appSettings>
</configuration>